.wrapper {
  display: flex;
  justify-content: flex-start;
}

.logo {
  margin-top: 52px;
  margin-left: 97px;
  margin-right: 184px;
}

.header_menu {
  display: flex;
  gap: 80px;
  margin-top: 54px;
}

 a {
  color: #99b8af;
  font-size: 18px;
}

a:hover {
  color: #b311ff;
  text-shadow: 0 0 0.74px #b311ff, 0 0 0.74px #b311ff;
}
