* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  /* max-width: 90%; */
  margin: auto;
}
