::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  min-width: 320px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header span {
  color: #b311ff;
}

.title {
  font-size: 42px;
  font-weight: 600;
}

.title span {
  color: #b311ff;
}

.desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 178%;
  color: #99b8af;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn button:nth-child(1) {
  background: #b311ff;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 23px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn button:nth-child(2) {
  background: transparent;
  color: #b311ff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 29px;
  border: 2px solid #b311ff;
  border-radius: 15px;
  cursor: pointer;
}
