::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  min-width: 320px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.title span {
  color: #b311ff;
}
